@import './tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  color: var(--st-color-text);
  background: var(--st-color-background);
  font-family: var(--st-font-family);
  font-size: var(--st-font-size-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
}
